@using Microsoft.AspNetCore.Html;
@{

    Layout = null;
}

@model la_mia_pizzeria_static.Models.Pizza

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - la_mia_pizzeria_static</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/la_mia_pizzeria_static.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        <h1>Pizzeria da Santo</h1>
    </header>

    <div class="container d-flex flex-wrap">


        <div class="card">
            <img src="@Model.sFoto" class="" alt="@Model.Nome" />
            <h1 class="titolo">@Model.Nome</h1>
            <p class="descrizione">@Model.Descrizione</p>
            <p class="prezzo"> @Model.Prezzo euro</p>
            <button class=""><a href="@Url.Action("Edit","Pizza",new {@Model.Id})">Modifica</a></button>
            <button class=""><a href="@Url.Action("Delete","Pizza",new {@Model.Id})">Cancella</a></button>
        </div>


    </div>

    </div>
</body>
</html>
